.product-title {
    color: #008cba;
    font-weight: 800;
}
.product-category
{
    font-size: 14px;
}
.card-img{
    width: 350px;
}

.star{
    color: #ffdf00;
}

.nav-link
{
    color: #fff !important;
}
.nav-link:hover
{
    color: #fff6d8 !important;
}